<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJeyYvCnPKxhPJJkbcHf077ahwiIQL2cI</string>
	<key>GCM_SENDER_ID</key>
	<string>835094502343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tfcIndustria</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-tfc-e46ac</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-tfc-e46ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835094502343:ios:b648d13f6911e2d2d357e2</string>
</dict>
</plist>